<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Submit your information</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/users/createOrder}" th:object="${formSubmit}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="senderName" class="col-form-label">Sender Name</label>
                            <input type="text" th:field="*{senderName}" class="form-control"
                                   id="senderName" placeholder="Sender Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="senderPhone" class="col-form-label">Sender Phone</label>
                            <input type="text" th:field="*{senderPhone}" class="form-control"
                                   id="senderPhone" placeholder="Sender phone" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="receiverName" class="col-form-label">Receiver Name</label>
                            <input type="text" th:field="*{receiverName}" class="form-control"
                                   id="receiverName" placeholder="Receiver Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="receiverPhone" class="col-form-label">Receiver Phone</label>
                            <input type="text" th:field="*{receiverPhone}" class="form-control"
                                   id="receiverPhone" placeholder="Receiver phone" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="number" class="col-form-label">Number of parcels</label>
                            <input type="number" th:field="*{parcelNumber}" class="form-control"
                                   id="number" placeholder="Number of parcels" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="date" class="col-form-label">Pick up date</label>
                            <input type="date" th:field="*{pickupDate}" class="form-control"
                                   id="date" placeholder="Pick up date" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="senderCity" class="col-form-label">Sender city</label>
                            <input type="text" th:field="*{senderCity}" class="form-control"
                                   id="senderCity" placeholder="Sender city" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="senderCounty" class="col-form-label">Sender county</label>
                            <input type="text" th:field="*{senderCounty}" class="form-control"
                                   id="senderCounty" placeholder="Sender county" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="senderCountry" class="col-form-label">Sender country</label>
                            <input type="text" th:field="*{senderCountry}" class="form-control"
                                   id="senderCountry" placeholder="Sender country" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="senderAddress" class="col-form-label">Sender address</label>
                            <input type="text" th:field="*{senderAddress}" class="form-control"
                                   id="senderAddress" placeholder="Sender address" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="receiverCity" class="col-form-label">Receiver city</label>
                            <input type="text" th:field="*{receiverCity}" class="form-control"
                                   id="receiverCity" placeholder="Receiver city" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="receiverCounty" class="col-form-label">Receiver county</label>
                            <input type="text" th:field="*{receiverCounty}" class="form-control"
                                   id="receiverCounty" placeholder="Receiver county" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="receiverCountry" class="col-form-label">Receiver country</label>
                            <input type="text" th:field="*{receiverCountry}" class="form-control"
                                   id="receiverCountry" placeholder="Receiver country" />
                        </div>


                        <div class="form-group col-md-8">
                            <label for="receiverAddress" class="col-form-label">Receiver address</label>
                            <input type="text" th:field="*{receiverAddress}" class="form-control"
                                   id="receiverAddress" placeholder="Receiver address" />
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>